.favoritesContainer {
  display: flex;
}

.favoritesContainer > div > section {
  width: 80vw;
  height: 80vh;
  background-color: #E6E8EA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  overflow-y: scroll;
}

.favoritesContainer > div > h3 {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
} 

.favoritesContainer > div > section > article {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}

.favoritesContainer > div > section > article > p {
  width: 20%;
  text-align: center;
  font-weight: 700;
}

.favoritesContainer > div > section > article > audio {
  width: 40%;
}