.heart-checkbox-label {
  cursor: pointer;
}
.favoriteInput {
  display: none;
}
.favoriteInput:checked + .heart-checkbox-label > svg {
  animation: preencher;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes preencher {
  0% {
    fill: transparent;
  }
  100% {
    fill: #00D5E2;
  }
}