* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  /* https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77 */
}

#root {
  background: linear-gradient(123.66deg, #003BE5 12.08%, #00D5E2 86.52%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
